body {
    background-color: #bfc5ff;
}

.container {
    width: 100vw;
    height: 170vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('images/portifolio-isabeli.jpg');
}