* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 216, 216);
}

header {
    text-align: center;
    background-color: #6B97FF;
    padding: 20px;
    margin: auto;
}

header h1 {
    font-size: 50pt;
    color: whitesmoke;
    margin-top: 20px;
}

header #titlediv {
    z-index: 1;
}

header #imagem {
    width: 200px;
    height: 200px;
    background-image: url('images/amanda.png');
    background-position: center;
    border-radius: 100%;
    position: relative;
    transform-origin: center;
    transform: translate(calc(50vw - 120px), 0px);
    z-index: 0;
    outline: 8px dashed white;
}
 
main {
    text-align: center;
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
}

main h1 {
    font-size: 35pt;
    margin: 10px;
}

main p {
    font-size: 16pt;
    text-align: justify;
    margin: 30px;
}