@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 30vh 0;
    color: white;
}

header h1 {
    font-size: calc(30pt + 4vw);
}

header h2 {
    font-family: 'Pacifico';
    font-size: 20pt;
}

header .box {
    padding: 20px;
    background-color: #cc3333;
    width: 40vw;
    margin: auto;
}

main {
    max-width: 800px;
    margin: auto;
}

main #apresentese, #projetos {
    background-color: #cc3333;
    color: white;
}

main div {
    padding: 20px;
    margin: 20px;
}

main h1 {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
    margin: 20px;
}

main p {
    font-size: 17pt;
    margin: 10px;
    font-family: 'Montserrat';
}